.panel {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: var(--border-radius);
  filter: var(--shadow);
  padding: 2rem;
}

.panel__title {
  margin-bottom: 2rem;
}

.panel__input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.panel__textarea,
.panel__input {
  border: 1px solid var(--grayish);
  padding: 0.5rem 0.8rem;
  border-radius: var(--border-radius);
}

.panel__textarea {
  height: 5rem;
}

.panel__input:nth-child(2) {
  height: 5rem;
}

.panel__buton-container {
  display: flex;
  gap: 1rem;
}
