.button {
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  color: var(--white);
  font-weight: var(--font-weight-bold);
  transition: all 0.2s ease-in-out;
}

.button--green {
  background-color: var(--green);
  box-shadow: 0px 8px 20px rgba(25, 209, 111, 0.2);
}

.button--green:hover {
  background-color: var(--green-hover);
}

.button--red {
  background-color: var(--red);
  box-shadow: 0px 4px 30px rgba(215, 19, 31, 0.3);
}

.button--red:hover {
  background-color: var(--red-hover);
}
