.card {
  position: relative;
  background-color: var(--white);
  filter: var(--shadow);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
