.content {
  position: relative;
  padding: 5vw 5vw;
}

.content.open::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--black);
  opacity: 0.25;
}
