* {
  margin: 0;
  padding: 0;
}

:root {
  --green: #19d16f;
  --white: #fff;
  --white-pale: #f9fafe;
  --black: #1d2025;
  --grayish: #68707d;

  --kumbh-sans: 'Kumbh Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --shadow: drop-shadow(0px 4px 10px rgba(112, 144, 176, 0.2));

  --border-radious: 0.5rem;
}
