


.App{
    background-color: var(--white);
    height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content"
                         "navbar"; 
}